extends ../layout/main
include ../includes/text-form/text-form


block variables
	- var title = 'Form elements';

block content
	include ../extends/logo_svg
	.forms_wrapper
		.basic-forms_wrapper
			.text-form__wrapper
				+text-form ('text field', 'default', '', 'Email')
				+text-form ('text field', 'hover/focus', 'This is pretty awesome', '')(class="text-form--modified-for-UI")
				.iqdropdown
					p.iqdropdown-selection аывпвппва
					.iqdropdown-menu
						.iqdropdown-menu-option(data-id="item1")
							div
								.iqdropdown-item Item 1
								.iqdropdown-description A short description
						.iqdropdown-menu-option(data-id="item2") 
							div
								.iqdropdown-item Item 2
								.iqdropdown-description A short description
						.iqdropdown-menu-option(data-id="item3") 
							div
								.iqdropdown-item Item 3
								.iqdropdown-description A short description