extends ../layout/main
include ../includes/text-form/text-form


block variables
	- var title = 'Form elements';

block content
	include ../extends/logo_svg
	.forms_wrapper
		.basic-forms_wrapper
			.text-form__wrapper
				+text-form ('text field', 'default', '', 'Email')
				+text-form ('text field', 'hover/focus', 'This is pretty awesome', '')(class="text-form--modified-for-UI")
				
