@mixin square ($Squarecolor) {
	content: "";
		display: block;
		position: relative;
		width: 70px;
		height: 70px;
		border-radius: 6px;
		background: $Squarecolor;
		float: left;
		right: 40px;
		top: -5px;
}

@mixin font-example ($content, $font-size, $line-height) {
content: $content;
display: block;
position: absolute;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: $font-size;
line-height: $line-height;
/* identical to box height */

text-align: right;
color: $shade25;
float: left;
right: 43%;
}