@import "utils/text-form";

.forms_wrapper {
	margin-top: 65px;
	margin-left: 141px;
	margin-right: 141px;
}

.basic-forms_wrapper {
	display: flex;
	width: 325px;
	height: 400px;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid red;
	flex-wrap: wrap;
}

